---
import { Image } from "astro:assets";
import Container from "../Container.astro";

import aboutUs from "../../assets/images/AboutUs.jpeg"
---

<!--Sección de color azul -->
<section id="nosotros" class="bg-linear-to-b from-sky-200 to-white">
  <Container class="flex flex-col lg:flex-row items-center gap-16 py-8">
    <div class="flex-1 order-1 lg:order-0">
      <Image src={aboutUs} alt="Imagen de la fundadora de My Kids Box, Zindilú Garza Lara" class="rounded-xl w-100 h-auto object-cover mx-auto" />
    </div>

    <div class="flex-1 text-sky-950 order-0 lg:order-1">
      <h2 class="text-5xl font-bold font-serif text-center mb-4 leading-normal">Conoce a quien prepara tu lunch box</h2>
      <p class="text-2xl">
        <span class="font-bold">Empezamos con un sueño: llevar comida real y rica a cada rincón.</span> Lo que comenzó en una pequeña cocina familiar se convirtió en My Lunch Box, un espacio donde la felicidad y el sabor se encuentran.
        <br />
        <br />
        Creemos que comer bien no debería ser un lujo ni un esfuerzo. Por eso, cada ingrediente es seleccionado personalmente y cada receta es probada hasta alcanzar la perfección artesanal que nos caracteriza.
      </p>
    </div>
  </Container>
</section>
